@import "tailwindcss";

:root {
    --color-primary: #85e0e0;
    --color-secondary: #73d5d5;
    --background: #f5f5f4;
    --color-secondary-background:#d6dadb;
    --color-hover-buttons:#b9bdc2; 
    --foreground: #0f0f0f;
}


.dark {
    --color-primary: #7a1f1f;
    --color-secondary: #8c2a2a;
    --background: #0f0f0f;
    --color-secondary-background:#292524;
    --color-hover-buttons:#46423d; 
    --foreground: #f5f5f4;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
