.contenedorModal{
    position: absolute;
    top: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--letra-sm);
    color: var(--colorAvisoInformativo);
}